body{
    font-family: 'Nova Flat';
    background-color:#FEFE4D;
}

div {
  text-align: center;
  display: center;
}

button {
  background-color: #FEFE4D;
  border: 2px solid black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}
button:hover {
  background-color: black;
  color: white;
}

input{
  width: 30%;
  padding: 11px 10px;
  margin: 5px 14px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
}
input:focus{
  background-color: #ECE47B;
}

textarea {
  width: 30%;
  height: 150px;
  padding: 6px 10px;
  margin: 5px 14px;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
}

textarea:focus{
  background-color: #ECE47B;
}
